@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --accent-color: #2196f3;
  --text-color: #212121;
  --secondary-text-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;

  color: var(--text-color);
}

/* --Header styles-- */

.header {
  background-color: #fff;
}

.brand-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
  text-decoration: none;

  color: #000;
}
.brand-logo > span {
  color: var(--accent-color);
}

.nav-menu-list {
  list-style-type: none;
}
.nav-menu-link {
  float: left;
  padding-left: 50px;
}
.nav-menu-link > a {
  display: block;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-menu-link > a:visited {
  color: var(--text-color);
}
.nav-menu-link > a:hover,
.nav-menu-link > a:focus {
  color: var(--accent-color);
}

.header-contacts {
  list-style-type: none;
}
.header-contacts-link {
  float: right;
  padding-left: 50px;
}
.header-contacts-link > a {
  display: block;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-contacts-link > a:link,
.header-contacts-link > a:visited {
  color: var(--secondary-text-color);
}
.header-contacts-link > a:hover,
.header-contacts-link > a:focus {
  color: var(--accent-color);
}

/* --Index page styles-- */

/* Hero section */

.section-hero {
  background-color: #2f303a;
  text-align: center;
  height: 600px;
}

.section-hero > h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;

  color: #fff;
}

.section-hero > button {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  text-align: center;
  width: 216px;
  height: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.06em;

  color: #fff;
}
.section-hero > button:hover {
  cursor: pointer;
}

/* "Наші переваги" section */

.section-features {
  padding-top: 94px;
  background-color: #fff;
}

.section-features > h2 {
  display: none;
}

.features-list {
  list-style-type: none;
}

.features-item {
  float: left;
  padding-right: 30px;
  width: 270px;
}
.features-item:last-child {
  padding-right: 30px;
}

.features-item > h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-item > p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* "Чим ми займаємося" section */
