@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --accent-color: #2196f3;
  --text-color: #212121;
  --secondary-text-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;

  color: var(--text-color);
}

/* --Header styles-- */

.header {
  text-align: left;
  height: 80px;
  background-color: #fff;
}

.brand-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
  text-decoration: none;

  color: #000;
}
.brand-logo > span {
  color: var(--accent-color);
}

.nav-menu-list {
  list-style-type: none;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.nav-menu-link {
  float: left;
  margin-right: 50px;
}
.nav-menu-link:last-child {
  margin-right: 0;
}

.nav-menu-link > a {
  display: block;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-menu-link > a:visited {
  color: var(--text-color);
}
.nav-menu-link > a:hover,
.nav-menu-link > a:focus {
  color: var(--accent-color);
}

.header-contacts {
  list-style-type: none;
}
.header-contacts-link {
  float: right;
  padding-left: 50px;
}
.header-contacts-link > a {
  display: block;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-contacts-link > a:link,
.header-contacts-link > a:visited {
  color: var(--secondary-text-color);
}
.header-contacts-link > a:hover,
.header-contacts-link > a:focus {
  color: var(--accent-color);
}

/* --Index page styles-- */

/* Hero section */

.section-hero {
  text-align: center;
  height: 200px;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2f303a;
}

.section-hero > h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;

  color: #fff;
}
.part-one::after {
  content: "\a";
  white-space: pre;
}

.section-hero > button {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  text-align: center;
  width: 216px;
  height: 50px;
  margin-top: 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.06em;

  color: #fff;
}
.section-hero > button:hover {
  cursor: pointer;
}

/* "Наші переваги" section */

.section-features {
  margin-top: 94px;
  height: 98px;
  text-align: center;

  background-color: #fff;
}

.section-features > h2 {
  display: none;
}

.features-list {
  list-style-type: none;
  display: inline-block;
  text-align: left;
  padding: 0;
  margin: 0;
}

.features-item {
  float: left;
  padding-right: 30px;
  width: 270px;
}
.features-item:last-child {
  padding-right: 0;
}

.features-item > h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-item > p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* "Чим ми займаємося" section */

.section-about {
  margin-top: 94px;
  height: 386px;
  text-align: center;

  background-color: #fff;
}

.section-about > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.about-list {
  list-style-type: none;
  display: inline-block;
  text-align: left;
  padding: 0;
  margin: 0;
}

.about-item {
  float: left;
  margin-right: 30px;
}
.about-item:last-child {
  margin-right: -30px;
}

.about-item > img {
  height: 294px;
  width: 370px;
}

/* "Наша команда" section */

.section-team {
  margin-top: 94px;
  height: 648px;
  text-align: center;

  background-color: #f5f4fa;
}

.section-team > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 94px;
  margin-bottom: 50px;
}

.team-list {
  list-style-type: none;
  display: inline-block;
  text-align: left;
  padding: 0;
  margin: 0;
}

.team-card {
  float: left;
  margin-right: 30px;
  text-align: center;
  width: 270px;
  height: 368px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: #fff;
}

.team-card:last-child {
  margin-right: 0;
}

.team-card > h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}

.team-card > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* --Footer styles-- */

.footer {
  padding-top: 60px;
  height: 172px;

  color: #fff;
  background-color: #2f303a;
}

.footer > .brand-logo {
  color: inherit;
}

.address {
  margin-top: 20px;
}

.address-list {
  list-style-type: none;
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0;
}

.address-link > a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
}

.location-link > a {
  color: #fff;
}
